body{
  background-color: rgba(255, 255, 255, 0.992);
}
#title{
  background-image: url("burgundy.jpeg");
  padding: inherit;
  border-radius: 0 0 150% 70%;
  background-size: cover;
}
#title2{
  background-image:linear-gradient(140deg,rgb(128, 0, 32), rgb(171, 31, 31));
}
.carousel {
  height: 80%;
  font-family: 'Roboto', sans-serif;
}
.carousel h1{
    background-color: rgba(255, 0, 0, 0.545);
    padding: 2% 1%;
    color: #fff;
    font-size: 3rem;
}
.carousel h4{
    font-family: 'Nunito', sans-serif;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 2% 1%;
}

.carousel-inner .pon{
  background-image: linear-gradient(140deg,rgba(177, 175, 175, 0.55), rgba(107, 93, 93, 0.55)),url("m_mandir.jpeg");
  padding: inherit;
  border-radius: 0 0 175% 90%;
  background-size: cover;
  height: 100%;
}
.carousel-inner .sin{
  background-image: linear-gradient(140deg,rgba(99, 99, 99, 0.55), rgba(0, 0, 0, 0.55)),url("sin.jpg");
  padding: inherit;
  border-radius: 0 0 175% 90%;
  background-size: cover;
}
.carousel-inner .dub{
    background-image: linear-gradient(140deg,rgba(99, 99, 99, 0.55), rgba(0, 0, 0, 0.55)),url("dubai.jpg");
    padding: inherit;
    border-radius: 0 0 175% 90%;
    background-size: cover;
  }
.carousel-inner .thai{
background-image: linear-gradient(140deg,rgba(99, 99, 99, 0.55), rgba(0, 0, 0, 0.55)),url("thaii.jpeg");
padding: inherit;
border-radius: 0 0 175% 90%;
background-size: cover;
}
.carousel-inner .wtt{
    background-image: linear-gradient(140deg,rgba(99, 99, 99, 0.55), rgba(0, 0, 0, 0.55)),url("wttbg.jpg");
    padding: inherit;
    border-radius: 0 0 175% 90%;
    background-size: cover;

  }
#fet{
  text-align: left;
}
#fas{
  padding-top: 20px;
  padding-bottom: 20px;

}
#fet .a{
    text-decoration: none;}
#con{
  background-color: white;
  border-radius:175% 80% 0% 0%;
}
#footer{
  background-color: #233e8b;
}
#ab{
  padding-top: 0%;
  padding-bottom: 0%;
}

#form{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 6%;
  padding-left:6%;
}
#Fip{
  border-radius: 50px 50px 50px 50px;
}
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
    background-position: center top;
	background-size:cover;
    padding-bottom: 7.5%;
}

.navTrigger {
    display: flex;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */






/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: rgb(68, 37, 245);
    color: #111;
}
.home{
    padding: 25% 0%;

}
.home div img{
    background-color: rgb(255, 255, 255,.75);

}
.ne{
    background-color: rgb(255, 255, 255,.75);;
}
.home div h1{
    font-size: 30px ;
    margin: 0%;
    color: #111;
}
#contact{
    padding-top: 4%;
    color: #fff;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
}

#about{
    padding-top: 2.5%;
}


.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}


.contact {
    background: rgb(15, 15, 15,.70);
    height: 100%;
}

.contact .heading {
    font-size: 3rem;
    color: #fff;
    padding-left: 43%;
}

.contact .row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .con-form {
    flex-basis: 50%;
    margin: 15px;
}

.contact .row .con-form form {
    flex: 1 1 50rem;
    background: rgb(26, 26, 26,.75);
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: flex-start;
}

.contact .row .con-form form .box {
    height: 5rem;
    width: 49%;
    border: .1rem solid #eee;
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #fff;
    background: black;
    border-radius: 8px;
    text-transform: none;
}

.contact .row .con-form form .box:focus {
    border-color: #1261f3;
}

.contact .row .con-form form .box::placeholder {
    text-transform: capitalize;
}

.contact .row .con-form form .address {
    height: 15rem;
    padding: 1rem;
    resize: none;
    width: 100%;
}

.contact .row .con-form form .btn:hover {
    background: #fff;
    color: #333;
}

.contact .row .adress {
    flex-basis: 40%;
    margin: 15px;
}

.contact .row .adress .adr-details {
    flex: 1 1 50rem;
    background: rgb(38, 38, 38,.70);
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: flex-start;
}

.contact .row .adress .adr-details ul li i {
    color: var(--primary-color);
}

.contact .row .adress .adr-details ul {
    align-items: center;
    list-style: none;
}

.contact .row .adress .adr-details ul li {
    font-size: 2rem;
    color: var(--wt);
    flex-direction: row;
    justify-items: center;
    padding: 20px;
}

.footer{
    background-color: #800020;
    text-align: center;
    color: #fff;
    padding:2% 1%;
    padding-bottom: 0%;
    
}
.contact .row{
    margin-right: 0%;
}
.footer h3{
    padding-top: 2%;
}
.footer .col{
    padding-top: 1.5%;
    color: #e3a9a9;
}
.footer a{
padding-right: 1%;
padding-left: 1%;
padding-top: 4%;}
.footer .soc{
    padding-right: 1.5%;
    padding-left: 1.5%;
    ;}
.upt{
    background-color: rgba(182, 34, 49, 0.608);
    padding-top: 3%;
    padding-bottom: 1%;
}

.ablist{
    padding:2% 30% 0% 30%;
    font-size: large;
    text-align: left;
}
#about{
    padding-bottom: 7.5%;
}
.form-control{
        background-color: rgba(255, 255, 255, 0.808);
        color: white;
        border:none;
     
}
.fadein img{
    opacity:1;
    transition: 1s ease;
    }
    
.fadein img:hover{
    
    opacity:0.5;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    transition: 1s ease;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .con_img {
        position: relative;
        text-align: center;
        color: white;
      }
      .active{
        border-radius: 12px;
        background-color: rgb(128, 0, 32);
        color: white!important;
      }
      .nav-link:hover {
        border-radius: 12px;
        background-color: rgb(128, 0, 32);
        color: white !important;
       
        
      }

      ion-icon {
        font-size: 64px;
        padding-bottom: 1.8%;
      }
      ion-icon:hover{
        color: #ff0000;
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition: 1s ease;
      }
      .container{
        align-items: center !important;
      }
      .col-md-6{
        align-items: center;
      }
      .container{
        max-width: 100%;
      }
      @media only screen and (max-width: 800px) {
        .sin_p{
            width: 90%;
        }
        .pon_p{
            width: 90%;
        }
        .thai_p{
            width: 90%;
        }
        .dub_p{
            width: 90%;
        }
        .pil_p{
            width: 90%;
        }
      }
      .sin_p{
        display: block; 
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
      .pon_p{
        display: block; 
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
      .thai_p{
        display: block; 
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
      .dub_p{
        display: block; 
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
      .pil_p{
        display: block; 
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
      .cont{
        padding: 2% 6%;
        
      }
      .cont h1{
        text-align: center;
        padding-bottom: 2%;
        font-family: 'Abel', sans-serif;
        color: rgb(128, 0, 32);
        font-size: 5rem;

      }
      .cont .row h1{
        text-align: left;
        padding-bottom: 2%;
        font-family: 'Abel', sans-serif;
        color: white;
        font-size: 3.8rem;
      }
      .cont .row h4{
        font-family: 'Abel', sans-serif;
        font-size: 2rem;

      }
      .cont .row{
        padding: 2% 4%;
        background-color:rgba(157, 0, 39, 0.555);

    }
    .conn{
        background-color: #fff;
        border-radius:80% 80% 0% 0%;
      }
      .col a{
        text-decoration: none;
        
      }
      #features h1{
        font-family: 'Great Vibes', cursive;
        font-size: 5rem;
      }
      #img h1{
        font-family: 'Great Vibes', cursive;
        font-size: 5rem;
        color: rgba(128, 0, 32);
      }
      #con h1{
        font-family: 'Great Vibes', cursive;
        font-size: 5rem;
        color: rgba(128, 0, 32);
      }
      #con form{
        font-size: 2rem;
        font-family: 'Great Vibes', cursive;
      }
      .conn h1{
        font-family: 'Great Vibes', cursive;
        font-size: 5rem;
        color:rgba(128, 0, 32);
      }
      .conn form{
        font-size: 2rem;
        font-family: 'Great Vibes', cursive;
      }
      .abimg{
        height: 10%;
        background-color: rgba(128, 0, 32);
        padding-top: 2%;
      }
      .abimg h1{
        padding: 5% 20%;
        text-align: center;
        font-size: 7rem;
        font-family: 'Great Vibes', cursive;
        color:white;
      }
      .abtex{
        padding: 5% 10% ;
      }
      .abi{
        display: flex;
        justify-content:center ;
      }
      .abt{
        
        padding: 0% 10%;
      }
      .abt h2{
            font-size: 3rem;
            font-family: 'Satisfy', cursive;      }
      .abt h1{
        
            font-size: 5rem;
            font-family: 'Great Vibes', cursive;
            color:white;
      }
      .abtext .row{
        background-color: #e3a9a9;
      }